
<form action="/submit" method="POST">
<div class="container">
  <div class="row">
    <input type="number" min="1" max="9" placeholder="?" id="mat11" name="mat11">
    <input type="number" min="1" max="9" placeholder="?" id="mat12" name="mat12">
    <input type="number" min="1" max="9" placeholder="?" id="mat13" name="mat13" class="break3">

    <input type="number" min="1" max="9" placeholder="?" id="mat14" name="mat14">
    <input type="number" min="1" max="9" placeholder="?" id="mat15" name="mat15">
    <input type="number" min="1" max="9" placeholder="?" id="mat16" name="mat16" class="break3">
    
    <input type="number" min="1" max="9" placeholder="?" id="mat17" name="mat17">
    <input type="number" min="1" max="9" placeholder="?" id="mat18" name="mat18">
    <input type="number" min="1" max="9" placeholder="?" id="mat19" name="mat19">
  </div>

  <div class="row">
    <input type="number" min="1" max="9" placeholder="?" id="mat21" name="mat21">
    <input type="number" min="1" max="9" placeholder="?" id="mat22" name="mat22">
    <input type="number" min="1" max="9" placeholder="?" id="mat23" name="mat23" class="break3">

    <input type="number" min="1" max="9" placeholder="?" id="mat24" name="mat24">
    <input type="number" min="1" max="9" placeholder="?" id="mat25" name="mat25">
    <input type="number" min="1" max="9" placeholder="?" id="mat26" name="mat26" class="break3">
    
    <input type="number" min="1" max="9" placeholder="?" id="mat27" name="mat27">
    <input type="number" min="1" max="9" placeholder="?" id="mat28" name="mat28">
    <input type="number" min="1" max="9" placeholder="?" id="mat29" name="mat29">
  </div>

  <div class="row">
    <input type="number" min="1" max="9" placeholder="?" id="mat31" name="mat31">
    <input type="number" min="1" max="9" placeholder="?" id="mat32" name="mat32">
    <input type="number" min="1" max="9" placeholder="?" id="mat33" name="mat33" class="break3">

    <input type="number" min="1" max="9" placeholder="?" id="mat34" name="mat34">
    <input type="number" min="1" max="9" placeholder="?" id="mat35" name="mat35">
    <input type="number" min="1" max="9" placeholder="?" id="mat36" name="mat36" class="break3">
    
    <input type="number" min="1" max="9" placeholder="?" id="mat37" name="mat37">
    <input type="number" min="1" max="9" placeholder="?" id="mat38" name="mat38">
    <input type="number" min="1" max="9" placeholder="?" id="mat39" name="mat39">
  </div>
  <br>
  <div class="row">
    <input type="number" min="1" max="9" placeholder="?" id="mat41" name="mat41">
    <input type="number" min="1" max="9" placeholder="?" id="mat42" name="mat42">
    <input type="number" min="1" max="9" placeholder="?" id="mat43" name="mat43" class="break3">

    <input type="number" min="1" max="9" placeholder="?" id="mat44" name="mat44">
    <input type="number" min="1" max="9" placeholder="?" id="mat45" name="mat45">
    <input type="number" min="1" max="9" placeholder="?" id="mat46" name="mat46" class="break3">
    
    <input type="number" min="1" max="9" placeholder="?" id="mat47" name="mat47">
    <input type="number" min="1" max="9" placeholder="?" id="mat48" name="mat48">
    <input type="number" min="1" max="9" placeholder="?" id="mat49" name="mat49">
  </div>

  <div class="row">
    <input type="number" min="1" max="9" placeholder="?" id="mat51" name="mat51">
    <input type="number" min="1" max="9" placeholder="?" id="mat52" name="mat52">
    <input type="number" min="1" max="9" placeholder="?" id="mat53" name="mat53" class="break3">

    <input type="number" min="1" max="9" placeholder="?" id="mat54" name="mat54">
    <input type="number" min="1" max="9" placeholder="?" id="mat55" name="mat55">
    <input type="number" min="1" max="9" placeholder="?" id="mat56" name="mat56" class="break3">
    
    <input type="number" min="1" max="9" placeholder="?" id="mat57" name="mat57">
    <input type="number" min="1" max="9" placeholder="?" id="mat58" name="mat58">
    <input type="number" min="1" max="9" placeholder="?" id="mat59" name="mat59">
  </div>

  <div class="row">
    <input type="number" min="1" max="9" placeholder="?" id="mat61" name="mat61">
    <input type="number" min="1" max="9" placeholder="?" id="mat62" name="mat62">
    <input type="number" min="1" max="9" placeholder="?" id="mat63" name="mat63" class="break3">

    <input type="number" min="1" max="9" placeholder="?" id="mat64" name="mat64">
    <input type="number" min="1" max="9" placeholder="?" id="mat65" name="mat65">
    <input type="number" min="1" max="9" placeholder="?" id="mat66" name="mat66" class="break3">
    
    <input type="number" min="1" max="9" placeholder="?" id="mat67" name="mat67">
    <input type="number" min="1" max="9" placeholder="?" id="mat68" name="mat68">
    <input type="number" min="1" max="9" placeholder="?" id="mat69" name="mat69">
  </div>
  <br>

  <div class="row">
    <input type="number" min="1" max="9" placeholder="?" id="mat71" name="mat71">
    <input type="number" min="1" max="9" placeholder="?" id="mat72" name="mat72">
    <input type="number" min="1" max="9" placeholder="?" id="mat73" name="mat73" class="break3">

    <input type="number" min="1" max="9" placeholder="?" id="mat74" name="mat74">
    <input type="number" min="1" max="9" placeholder="?" id="mat75" name="mat75">
    <input type="number" min="1" max="9" placeholder="?" id="mat76" name="mat76" class="break3">
    
    <input type="number" min="1" max="9" placeholder="?" id="mat77" name="mat77">
    <input type="number" min="1" max="9" placeholder="?" id="mat78" name="mat78">
    <input type="number" min="1" max="9" placeholder="?" id="mat79" name="mat79">
  </div>

  <div class="row">
    <input type="number" min="1" max="9" placeholder="?" id="mat81" name="mat81">
    <input type="number" min="1" max="9" placeholder="?" id="mat82" name="mat82">
    <input type="number" min="1" max="9" placeholder="?" id="mat83" name="mat83" class="break3">

    <input type="number" min="1" max="9" placeholder="?" id="mat84" name="mat84">
    <input type="number" min="1" max="9" placeholder="?" id="mat85" name="mat85">
    <input type="number" min="1" max="9" placeholder="?" id="mat86" name="mat86" class="break3">
    
    <input type="number" min="1" max="9" placeholder="?" id="mat87" name="mat87">
    <input type="number" min="1" max="9" placeholder="?" id="mat88" name="mat88">
    <input type="number" min="1" max="9" placeholder="?" id="mat89" name="mat89">
  </div>

  <div class="row">
    <input type="number" min="1" max="9" placeholder="?" id="mat91" name="mat91">
    <input type="number" min="1" max="9" placeholder="?" id="mat92" name="mat92">
    <input type="number" min="1" max="9" placeholder="?" id="mat93" name="mat93" class="break3">

    <input type="number" min="1" max="9" placeholder="?" id="mat94" name="mat94">
    <input type="number" min="1" max="9" placeholder="?" id="mat95" name="mat95">
    <input type="number" min="1" max="9" placeholder="?" id="mat96" name="mat96" class="break3">
    
    <input type="number" min="1" max="9" placeholder="?" id="mat97" name="mat97">
    <input type="number" min="1" max="9" placeholder="?" id="mat98" name="mat98">
    <input type="number" min="1" max="9" placeholder="?" id="mat99" name="mat99">
  </div>
</div>
  
  <button type="submit" class="btn-submit">Submit your Sudoku</button>
</form>