<div class="container">
  
  <% for(var i = 1;i<10;i++) { %>
    <div class="row">
      <% for(var j = 1;j<10;j++ ) { %>
      <input type="number" value=<%=mat[i][j]%>
          class=" <%= (j==3 || j==6) ? done[i][j]==0 ? 'break3 empty' : 'break3' : done[i][j]==0 ? 'empty' : 'no-class' %> "
        > 
      <% } %> 
    </div>
    <% if (i==3 || i==6) { %>
     <br>
    <% } %>
  <% } %>

</div>